.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fefaf7;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.news-title {
  font-size: 24px;
  color: #6d4c41;
  margin-bottom: 10px;
}

.news-description {
  font-size: 16px;
  color: #6d4c41;
  margin-bottom: 20px;
  text-align: center;
}

.news-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Increased max-width to accommodate the new button */
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.news-bar-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.news-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 25px;
  width: 100%;
  margin-right: 10px;
}

.news-button {
  padding: 10px 20px;
  background-color: #f1562c;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Add margin to space out the buttons */
}

.news-button:hover {
  background-color: #e14a1c;
}

.subscribe-button {
  background-color: #4CAF50; /* Different color for the subscribe button */
}

.subscribe-button:hover {
  background-color: #45a049; /* Darker shade for hover effect */
}
