.ine-events {
    max-width: 1200px; /* Limit the container width */
    margin: 0 auto; /* Center the container */
    padding: 2rem 1rem;
}

.ine-title {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 0.5rem;
}

/* .ine-title h2{
   
    margin-bottom: 2px;
} */

.ine-event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust card size and layout */
    gap: 0px; /* Space between cards */
   
}

.ine-event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px;
    margin-left: 4rem;

}

.ine-event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.ine-event-image {
    width: 100%;
    height: auto;
}

.ine-event-info {
    padding: 1rem;
    text-align: center;
}

.ine-event-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.ine-event-info p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666;
}

.ine-event-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ine-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.session-btn {
    background-color: #e4bb92;
    color: #fff;
}

.detail-btn {
    background-color:rgb(255, 85, 0);;
    color: #fff;
}

.ine-btn:hover {
    opacity: 0.8;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.title_decorate {
  
    background: radial-gradient(circle at 7.5% 0%, #eb865b 0%, #f94521 100%);
    color: transparent;
  }

