.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 238, 234);
    border-bottom: 2px solid rgb(234, 138, 27);
    overflow: hidden;
    height: 100vh;
}

.hero-image {
    position: relative;
    width: 80%;
    max-height: 60%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 24px;
    z-index: 20;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.hero-content {
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8); /* Slight background for readability */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.hero-content h1 {
    font-size: 2.5rem; /* Increased font size for prominence */
    color: #333;
    margin-bottom: 1rem; /* Spacing below the heading */
}

.hero-content p {
    font-size: 1.1rem; /* Slightly larger font for readability */
    color: #555; /* Slightly darker color for contrast */
    line-height: 1.6; /* Increased line height for readability */
    margin: 0; /* Remove default margin */
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .hero-image {
        width: 100%;
    }
    
    .hero-content {
        width: 90%;
    }

    .hero-content h1 {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    .hero-content p {
        font-size: 1rem; /* Adjust font size for smaller screens */
    }
}
