.team_main {
  width: 100%;
  background-color: #f8f8f8; 
  border-radius: 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding-top: 2rem;
  padding-bottom: 6rem;
  margin-top: 0;
}

/* Section styling */
.team_section {
  padding-top: 0;
  padding-bottom: 6rem;
  margin-bottom: 10rem;
  text-align: center; /* Center the content within the section */
}

/* Heading styling */
.team_section h2 {
  font-size: 2rem;
  color: #333; 
  margin-bottom: 1rem; 
}

/* Decorative title line */
.title_decoration {
  width: 35vh;
  height: 0.25rem; /* Updated to be consistent with the design */
  background: radial-gradient(circle at 7.5% 0%, #eb865b 0%, #f94521 100%);
  margin: 0 auto 3rem auto; /* Center the decoration and add bottom margin */
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .team_section {
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }

  .title_decoration {
    width: 50vw; /* Adjust width for smaller screens */
  }
}

/* Team member grid layout */
.team_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Create four equal columns */
  gap: 30px; /* Space between items */
  margin-left: auto; /* Center the grid */
  margin-right: auto; /* Center the grid */
  max-width: 1200px; /* Adjust to your container width */
}

/* Individual team member styling */
.team_member {
  position: relative;
  text-align: center;
}

.team_image {
  width: 75%; /* Decrease size of the images */
  height: auto;
  border-radius: 10px;
  margin: 0 auto; /* Center the image within the member block */
}

.team_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  color: white; /* Text color */
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0 0 10px 10px;
  width: 75%; /* Align overlay width with image width */
  margin: 0 auto; /* Center the overlay */
  box-sizing: border-box; /* Include padding in width calculation */
}

.team_member:hover .team_overlay {
  opacity: 1;
}

.team_overlay h3 {
  font-size: 1rem; /* Decrease text size */
  margin-bottom: 5px;
  color: white; /* Text color */
}

.team_overlay p {
  font-size: 0.8rem; /* Decrease text size */
  color: white; /* Text color */
}

.team_icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team_icons a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none; /* Remove underline from links */
}

/* Responsive grid layout */
@media screen and (max-width: 1200px) {
  .team_grid {
    grid-template-columns: repeat(2, 1fr); /* Two items per row on medium screens */
  }
}

@media screen and (max-width: 768px) {
  .team_grid {
    grid-template-columns: 1fr; /* One item per row on small screens */
  }
}
