/* HeroSection.css */
.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 75vh;
    justify-content: space-between;
    align-items: center;
    padding: 3.1rem;
    background-color: rgb(245, 238, 234);
    border-bottom: 2px solid rgb(234, 138, 27);
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}



.hero-content h1 {
    font-size: 3rem;
    color: #333; /* Example text color */
    margin-left: 3vh;
}

.hero-content p {
    font-size: 1rem;
    color: #666; /* Example text color */
}




@media screen and (max-width: 768px) {
    .hero-section {
        grid-template-columns: 1fr;
        height: auto;
        padding: 1.5rem;
    }

    .hero-content {
        text-align: center;
    }

    .hero-image img {
        width: 80vw;
    }
    
}


